$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
     margin: 0.2em 0;
     background: #ccc;
     color: #000;
     padding: 0.2em 0;
 }

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

#stage {
  margin: 150px auto;
  width: 600px;
  height: 400px;
  -webkit-perspective: 800;
}

#reels {
  display: inline;
  margin: 0 auto;
  width: 600px;
  height: 400px;
  /* Ensure that we're in 3D space */
  -webkit-transform-style: preserve-3d;
}

.reel {
  margin: 0 auto;
  // display: inline;
  height: 110px;  
  width: 400px;   // centers reels
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  // -webkit-animation-timing-function: linear;
  -webkit-animation-timing-function: ease-in-out;
}

.reel > :nth-child(odd) {
  background-color: #995C7F;
}

.reel > :nth-child(even) {
  background-color: #835A99;
}

.poster {
  position: absolute;
  left: 250px;
  width: 100px;
  height: 100px;
  opacity: 0.7;
  color: rgba(0,0,0,0.9);
  -webkit-border-radius: 10px;
}

#poster1{
  left: 50px;
}
#poster2{
  left: 150px;
}
#poster3{
  left: 250px;
}

.poster > p {
  font-family: 'Georgia', serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 28px;
}

/*
Set up each row to have a different animation duration
and alternating x-axis rotation directions.
*/
#reel-1.active {
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 4s; 
}

#reel-2.active {
  -webkit-animation-name: back-x-spin;
  -webkit-animation-duration: 6s;
}

#reel-3.active {
  -webkit-animation-name: x-spin-fast;
  -webkit-animation-duration: 9s;
}

@-webkit-keyframes x-spin {
  0%    { -webkit-transform: rotateX(0deg); }
  // 50%   { -webkit-transform: rotateX(180deg); }
  100%  { -webkit-transform: rotateX(1000deg); }
}

@-webkit-keyframes x-spin-fast {
  0%    { -webkit-transform: rotateX(0deg); }
  // 50%   { -webkit-transform: rotateX(180deg); }
  100%  { -webkit-transform: rotateX(3600deg); }
}

// @-webkit-keyframes x-spin {
//   0%    { -webkit-transform: rotateX(0deg); }
//   50%   { -webkit-transform: rotateX(180deg); }
//   100%  { -webkit-transform: rotateX(360deg); }
// }

@-webkit-keyframes back-x-spin {
  0%    { -webkit-transform: rotateX(1800deg); }
  // 50%   { -webkit-transform: rotateX(180deg); }
  100%  { -webkit-transform: rotateX(0deg); }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
